/*fix the layout mess twitter bootstrap plugins create*/

div .attachment-preview {
background: #fff;
}

div .attachment-preview  .thumbnail{
padding:0;
border:none;
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
margin: 0 auto;
background: #fff;
}


/*image only uploader*/
.avia-media-img-only .media-sidebar .attachment-details,  .avia-media-img-only .media-frame-menu {
display:none;
}

.avia-media-img-only .attachment-display-settings .setting{
display:none;
}

.avia-media-img-only .attachment-display-settings .setting span{
float:none;
}

.avia-media-img-only .attachment-display-settings .setting:last-child{
display:block;
}

.avia-media-img-only .media-frame-title, .avia-media-img-only .media-frame-router, .avia-media-img-only .media-frame-content, .avia-media-img-only .media-frame-toolbar{
left: 0;
}

/*image uploader, id based (hides everything) */

.avia-media-img-only-no-sidebars .media-sidebar, .avia-media-img-only-no-sidebars .attachment-display-settings .setting, .avia-media-img-only-no-sidebars  .media-sidebar .attachment-details,  .avia-media-img-only-no-sidebars  .media-frame-menu {
display:none;
}

.avia-media-img-only-no-sidebars .attachments-browser .attachments, .avia-media-img-only-no-sidebars .attachments-browser .uploader-inline, .avia-media-img-only-no-sidebars .attachments-browser .media-toolbar  {
right: 0;
}

.avia-media-img-only-no-sidebars .media-frame-title, .avia-media-img-only-no-sidebars .media-frame-router, .avia-media-img-only-no-sidebars .media-frame-content, .avia-media-img-only-no-sidebars .media-frame-toolbar{
left: 0;
}


/*gallery uploader*/

.avia-media-gallery-insert .media-sidebar {
display:none;
}

.avia-media-gallery-insert .attachments-browser .attachments, .avia-media-gallery-insert .attachments-browser .uploader-inline, .avia-media-gallery-insert .attachments-browser .media-toolbar  {
right: 0;
}


/*video uploader*/

div .avia-video-element{
background: #333;
text-align: center;
color:#fff;
}

div div .avia-video-element img{
margin:10px 0 2px 0;
padding:10px;
background: #fff;
-webkit-border-radius: 3px; -moz-border-radius: 3px;  border-radius: 3px;
top:0;
}

div .avia-video-element .avia-element-url{
padding-bottom:10px;
position: relative;
top:-7px;
}

div .avia-video-element .avia_inner_shortcode{
margin: 6px;
border: 1px solid #666;
overflow: hidden;
}

div .avia-video-element .avia_inner_shortcode .avia-element-label{display:block;}

.avia-blank-insert .attachments-browser .attachments, .avia-blank-insert .attachments-browser .uploader-inline, .avia-blank-insert .attachments-browser .media-toolbar  {
right: 0;
}

.avia-blank-insert .media-sidebar, .avia-blank-insert .media-frame-menu {
display:none;
}

.avia-blank-insert .media-frame-title, .avia-blank-insert .media-frame-router, .avia-blank-insert .media-frame-content, .avia-blank-insert .media-frame-toolbar{
left: 0;
}

.avia-element-video .button, .avia-element-video .button {
line-height: 32px;
height: 33px;
width: 161px;
text-align: center;
z-index: 3;
margin-bottom:10px;
}


/*multi image upload into modal*/

div .avia-element-multi_image.avia-form-element-container{
padding: 0;
background: transparent;
border:none;
}

div .avia-element-multi_image .button {
top: 1px;
}

/*preview images*/

div div .avia_image img{
top:0;
}

.avia-delete-image {
height: 24px;
display: block;
width: 24px;
left: 5px;
line-height: 24px;
background: white url(../../images/icon-trash.png) top left no-repeat;
overflow: hidden;
text-indent: 214%;
z-index: 10;
border-top: 1px solid #E1E1E1;
cursor: pointer;
position: relative;
z-index: 100;
top: -30px;
border-right: 1px solid #E1E1E1;
}

.avia-delete-image:hover{
background: white url(../../images/icon-trash.png) bottom left no-repeat;
}

.avia-element-gallery .avia-delete-image {
display:none;
}



.avia-builder-prev-img-container{
overflow: hidden;
margin-top:10px;
}

.avia-builder-prev-img-container img{
max-width:99%;
border:1px solid #e1e1e1;
background: #fff;
padding:3px;
margin:1px;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
display:block;
float:left;
min-width:80px;
min-height:80px;
cursor: pointer;
}

.avia-element-gallery .avia-builder-prev-img-container img{
height:80px;
width:80px;
}

.avia-element-image .avia-builder-prev-img-container img{
max-height:300px;
}


.avia-element-gallery .button, .avia-element-image .button, .avia-element-multi_image .button{
line-height: 32px;
height: 33px;
position: absolute;
top: 17px;
width: 161px;
text-align: center;
z-index: 3;
}

.avia-style .avia-element-gallery>div, .avia-style .avia-element-image>div{
width:100%;
float:none;
position: static;
}

.avia-style .avia-element-gallery .avia-name-description, 
.avia-style .avia-element-image .avia-name-description,
.avia-style .avia-element-multi_image .avia-name-description{
margin-left:167px;
width: auto;
}



/*slideshow*/

.av_slideshow .avia_inner_shortcode img, .av_slideshow_full .avia_inner_shortcode img, .av_slideshow_full .avia_inner_shortcode .avia-element-label, .av_slideshow .avia_inner_shortcode .avia-element-label{
display:block; margin:0 auto; top:0;
}

.avia-modal-group-element-inner .avia_slideshow_image{width:40px; display:block; float:left; margin-right:10px;}
.avia-modal-group-element-inner .avia_slideshow_image img{max-width: 100%; height: auto; display: block; padding:3px; border:1px solid #e1e1e1; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.avia-multi-img .avia-modal-group-element-inner{clear: both; overflow: hidden;}
.avia-multi-img .avia-modal-group-element-inner>div { overflow: hidden; }
.avia_slideshow_content{ overflow: hidden;}
.avia_slideshow_content .avia_title_container_inner{padding:0; margin:0;}
.avia_slideshow_content .avia_content_container{margin:3px 0 0 0;}
